.main_content{
    margin-left: 400px;
}
.details_body{
	border-left: 1px dashed green;
	border-right: 1px dashed green;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	padding: 20px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}
.seat{
	height: 50px;
	width: 50px;
	margin: 30px;
	border: 1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
.seat_booked{
	background-color: red
}
.seat_available{
	background-color: green;
}