h2 {
    font-size: 38px;
    color: #2f2f2f;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-family: 'Open Sans',sans-serif;
}
.slide{
    position: relative;
}
ol, ul {
/*margin: 0 auto;*/
    margin-top: 10px;
    margin-bottom: 10px;
}


.discover{
/*    position: absolute;*/
/*    background: yellow;*/
}
.header{
        box-sizing: border-box;
/*        color: #2f2f2f;*/
    font-weight: lighter !important;
    
}
h2 span {
    color: #51a126;
}
.space{
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}

.card-deck{
    width: 925px;
    position: relative;
    
}
.card-img-top{
    width: 278px;
    height: 280px;
}
.card-body{
 
/*    width: 280px;*/
       height: 200px;
}

/*
.card text-white bg-info mb-3
{
    position: relative;
}
*/

