.loginMain{
  position: relative;
  background:url(images/h.jpg)  no-repeat  ;
    height: 1000px;
    width: 100%;
  background-size: cover;
    background-position: right;
/*   height:600px;*/
    width: 940px;
/*
 box-shadow:10px 9px 13px 5px;
    border-radius: 5px;
*/
/*    background-color: azure;*/
/*    margin: 0 auto;*/
    left: 200px;
    bottom: 34px;
    
}
.loginForm{
  width:50%;
  position:absolute;
/*     background:url(../images/theme6.jpg) no-repeat center center fixed;*/
/*
   background-size:cover;
    background-color: azure;
*/
    margin: 0 auto;
    left:25%;
  top:2%;

}
.pas{
    font-size: 15px;
    color: darkblue;
    padding-top: 50px;
}
.keepme{
    color: white;
}
/*.lead{
    color: white;
}*/
.pas{
    color: aqua;
}
