{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<div class="content-selection">
		<form method ="POST">
			{% csrf_token%}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Log In
				</legend>
				{{ form.as_p }}
				
			</fieldset>
			<div class="form-group">
				<button class= "btn btn-outline-info" type="submit">
					Login
				</button>
				
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Need an An Account?
				<a class="ml-2" href="/register"> Sign up now</a>
			</small>
			
		</div>
	</div>
	{% endblock content %}