{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}	


{% load crispy_forms_tags %}


<div class="content-section">
	<div class="media">
		<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
		<div class="media-body">
			<h2 class="account-heading">{{ user.username }}</h2>
			<p class="text-secondary">{{ user.email }}</p>
		</div>
	</div>

	<form method ="POST" enctype="multipart/form-data">
		{% csrf_token%}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				profile info
			</legend>
			{{ u_form | crispy }}
			{{ p_form | crispy }}
			
		</fieldset>
		<div class="form-group">
			<button class= "btn btn-outline-info" type="submit">
				update
			</button>
			<button class= "btn btn-outline-info" type="submit">
				<a href='/searchnew'>
					Find Bus
				</a>
			</button>
			

		</div>
		
	</form>
</div>

{% endblock content %}	

