{% load static %}
<!DOCTYPE html>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
	{{ message }}
</div>
{% endfor%}
{% endif %}

<html lang="en">
<head>
<meta charset="UTF-8">
<title>Paryatak - A Travel Guide </title>
 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bus_details.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<script src="JS/script.js"></script>
</head>
<body class="bg-light">
<header>
	<div class="container">
		<div class="row1">
	<figure class="col-xs-12 col-sm-3 col-md-3 logo-block">
        <a href="index.html"><h3>Prayatak:A Travelling Guide</h3> </a>
	</figure>
	<div class="col-xs-12 col-sm-9 col-md-9 header-right">
	<div class="top-menu">
		<ul>
			{% if user.is_authenticated %}
					<li><a href="/home"><i class="fa fa-home"></i>home </a></li>
		        	<li><a href="/home/about/"><i class="fa fa-users"></i>about us </a></li>
		        	<li><a href="/profile"><i class="fa fa-users"></i>profile</a></li>
		           	<li><a href="/home/contact"><i class="fa fa-flask"></i>contact us </a></li>
		        	<li><a href="../users/templates/users/logout"><i class="fa fa-home"></i>logout {{user.username}}</a></li>	
			{% else %}
			<li><a href="/home"><i class="fa fa-home"></i>home </a></li>
        	<li><a href="/home/about/"><i class="fa fa-users"></i>about us </a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-home"></i>Sign in </a></li>
        	<li><a href="/home/contact"><i class="fa fa-flask"></i>contact us </a></li>
        	{% endif %}
     	</ul>
	</div><!--top-menu-->
	<div class="company-info">
		<ul>
			<li><span class="phone"></span>
                    <div class="infos-right">
					<p>24/7 Support</p>
					<label>+977 9808799274</label>
                    </div>
			</li>
            
			<li><span class="email"></span>
			<div class="infos-right">
			<p>Email</p>
			<label><a href="mailto:shrestha.siddhartha06@outlook.com"> shrestha.siddhartha06@outlook.com</a></label>
			</div>
			</li>
			
            <li>
			<span class="trip"></span>
			<div class="infos-right">
			<p>Recommended By</p>
			<a href="review.html">
			<label>trip review</label>
			</a>
	</div>
			</li>
			<div class="clearfix"></div>
		</ul>
             </div><!--company-info-->
			</div><!--header-right-->

</div>
	</div>
</header>
    <nav class="nav nav-tabs">
<!--<div class="btn-group" role="group" aria-label="Basic example">        -->
<a class="nav-item" href="{% url 'discover' %}">Places to Visits</a> &nbsp; &nbsp; &nbsp;
<a class="nav-item" href="things_to_do.html"> Things to do</a> &nbsp; &nbsp; &nbsp;
<a class="nav-item" href="{% url 'discover' %}">Trekking sites</a> &nbsp; &nbsp; &nbsp;    
<a class="nav-item" href="whats_on.html">What's New?</a> &nbsp; &nbsp; &nbsp;    
<a class="nav-item" href="login.html">Sign in</a>&nbsp; &nbsp; &nbsp;
<a class="nav-item" href="maps.html">Maps</a> &nbsp; &nbsp; &nbsp;   
<a class="nav-item" href="privacy.html">Setting</a> &nbsp; &nbsp; &nbsp;   
<a class="nav-item" href="\">Office Location</a> &nbsp; &nbsp; &nbsp;
        
    </nav>    
<div class="aside">
<div class="aside_heading1">Trekking in Nepal</div>
<div class="text">  


<ul><strong>
<li>
<a href="/discover/1">anna</a>
</li>
</strong>
</ul>

<ul>
<strong>
<li>
<a href="poonhill_trek.html"> Poon Hill Trek</a>
</li>

</strong>
</ul>
<ul>
<strong>
<li>
<a href=""> Rara Lake Trek</a>
</li>
</strong>
</ul>
<ul>
<strong>
<li>
<a href="{% url 'discover' %}"> Mores...</a>
</li>

</strong>
</ul>        
</div>
<div class="aside_heading1">Places to visit</div>
<div class="text">  
<ul><strong>
<li>
<a href="/discover/4/">Lumbini:A birthplace of Gautam buddha</a>
</li>
</strong>
</ul>
<ul>
<strong>
<li>
<a href="/discover/5/"> Solukhumbhu District</a>
</li>

</strong>
</ul>
<ul>
<strong>
<li>
<a href="/discover/5/">Mustang </a>
</li>
</strong>
</ul>
<ul>
<strong>
<li>
<a href="{% url 'discover' %}"> Mores...</a>
</li>

</strong>
</ul>        
</div>    
<div class="aside_heading1">Other services</div>
<div class="text">  
<ul><strong>
<li>
<a href="ticket_booking.html">Bus ticket booking</a>
</li>
</strong>
</ul>
<ul>
<strong>
<li>
<a href="Vechile_rental.html"> Renting Vechicles </a>
</li>
</strong>
</ul>
<ul>
<strong>
<li>
<a href="maps.html"> Maps</a>
</li>
</strong>
</ul>

</div>
<div class="aside_heading3"><a href="contact.html">Testimonials</a></div>    
</div>
	<div class='main_content'>
    	{% block content %}{% endblock %}
    </div>
<footer>
	<div class="mainFooter">
		<div class="randomWidget">
			<h3 >Plan your Trip</h3>
			<a href="login.html" class="btn btn-outline-secondary">Search</a>
		</div>
		<h3 class="text-center footerHeading"> Quick Links.</h3>
		<div class="widget">
			<p><a href="login.html"><strong>Sign In</strong></a></p>
			<p><a href="register.html"><strong>Register</strong></a></p>
			<p><a href="contact.html"><strong>Contact Us</strong></a></p>
			<p><a href="review.html"><strong>Review</strong></a></p>
		</div>
		<div class="widget">    
			<p><a href="places_to_visit.html"><strong>Places to Visit</strong></a></p>
			<p><a href="things_to_do.html"><strong>Thing to do</strong></a></p>
			<p><a href="whats_on.html"><strong>What's On Nepal</strong></a></p>
			<p><a href="trekking_sites.html"><strong>Trekking Sites</strong></a></p>
		</div>
		<div class="widget">
			<p><a href="vechile_rental.html"><strong>Rent a Vehicle</strong></a></p>
			<p><a href="login.html"><strong>Ticket Booking</strong></a></p>
			<p><a href="packages.html"><strong> Packages</strong></a></p>    
			<p><a href="maps.html"><strong>Maps</strong></a></p>
		</div>

		<div class="widget">
			<p><a href="office_map.html"><strong> Office Location Map</strong></a></p>
			<p><a href=""><strong>FAQs</strong></a></p>
			<p><a href="privacy.html"><strong>Privacy and Cookies</strong></a></p>
			<p><a href="terms.html"><strong>Terms & Conditions</strong></a></p>
		</div>
	</div> 
	<div id="fot"> 
		&copy; 2076 Prayatak: Travelling guide &nbsp; Designed by Sid,Sag.T,Sag.K and Sam.
	</div>
</footer>
</body>
</html>
