{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<h2>{{bus_travel.bus.bus_no}} details</h2>
<table>
	<tr>
		<td>Bus Number: </td>
		<td>{{bus_travel.bus.bus_no}}</td>
	</tr>
	<tr>
		<td>Price: </td>
		<td>{{bus_travel.bus.price}}</td>
	</tr>
	<tr>
		<td>Capacity: </td>
		<td>{{bus_travel.bus.capacity}}{{bus_travel.bus_travels.all}}</td>
	</tr>
</table>
	<div class="details_body">
	{% for i in bus_travel_seats %}
		{% if i.is_available %}
			
			<a class="seat seat_available" id = 'seat' href="{% url 'paryatak:samrat' bus_travel.id i.id %}">{{i.name}}</a>
			

		{% else %}
			<div class="seat seat_booked" >{{i.name}}</div>
		{%  endif %}
	{% endfor %}
	</div>

<script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous">
			  	
</script>
<script type="text/javascript">
	

		 $('#seat').click(function(){
			alert('Success! Your seat has been booked. Please check your email for more information');
				 		 
		});

	
</script>
{% endblock content %}