{% extends "paryatak/base.html"%}

{% block content %}

<article class="main">
<h1 class="page-heading"> Contact </h1>
<div id="form">
<form action="process.php">
<p>
<label for="name">Name:</label>
<input type="text" name="name" placeholder="Your Name" required>
</p>
<p>    
<label for="name">Email:</label>
<input type="text" name="email" placeholder="Your email" required>
</p>
<p>
<label for="name">Subject:</label>
<input type="text" name="subject" placeholder="Subject" required>
</p>
<p>    
<label for="name">Message:</label>
<textarea name="message" id="message" cols="30" rows="10" placeholder="Enter Message" required></textarea>
</p>
<p>
<input  id="submit" type="submit" name="submit" value="Send Message">
</p>
</form>
</div>
</article>
<footer>
	{% endblock content %}
