

{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<img class ="rounded-circle article-img"src="{{ post.author.profile.image.url }}">

<div class="content">
  <div class="container">
	<div id="home-video" style="">
		<!--<img src="images/we.jpeg" alt="Responsive Images">--><video id="video1" width="750px" height="400px" controls="controls">
		  <source src="{% static "b.mp4" %}" type="video/mp4">
		  	<source src="{% static "b.mp4" %} "type="video/ogg">
		</video>

		// <script>
		// var vid = document.getElementById("video1");

		// function myFunction() { 
		//   var text1 = vid.addTextTrack("caption");
		//   text1.addCue(new TextTrackCue("Test text", 01.000, 04.000, "", "", "", true));
		// } 
		// </script>
	</div>

</div>
<br />
  <div class="container bg-light">

<div class="  p-3 p-md-5 m-md-3 text-center bg-light link" style="height:300px; ">
  <div class="col-md-5  mx-auto " style="margin-top:0px">
    <h1 class="font-weight-normal">Visit Nepal!!!</h1>
  </div>
    <p class="lead font-weight-normal" style="color-blue;">Feel Free to express all your experience with us.</p>
    <a class="btn btn-outline-primary" href="#">Link to Testomonial</a>
  
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
</div>
<br />
</div>

  <div class="container" style="height:450px; width:950px;">
      <div class="space">
    <div class="header">
      <br />
        <h2> What's New<span>In Nepal</span> </h2>
</div>
    </div> 
<br />
<div class="d-md-flex flex-md-equal w-100 my-md-3 ">
       <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{% static "images/Dashain.jpg" %}" alt="Avatar" style="width:300px;height:300px;">
        <div class="card-img-overlay">
    <h1 class="card-title"style="color:grey;">Dashain</h1>
    </div>
    </div>
    <div class="flip-card-back">
      <h1>Dashain</h1>
          <p >Dashain is the main festival in Nepal. It is celebrated for long 10 days for worshipping Goddeess Durga.</p>
          <a class="btn btn-outline-primary" href="#">Explore More</a>
  



    </div>
  </div>
</div> 
       <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{% static "images/tihar.jpg" %}" alt="Avatar" style="width:300px;height:300px;">
        <div class="card-img-overlay">
    <h1 class="card-title" style="color:grey;">Tihar</h1>
    </div>
    </div>
    <div class="flip-card-back">
      <h1>Tihar</h1>
          <p >Tihar is also one of the main and most liked festivals in nepal. It is also called festivals of light.</p>
           <a class="btn btn-outline-primary" href="#">Explore More</a>

    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{% static "images/losar1.jpg" %}" alt="Avatar" style="width:300px;height:300px;">
        <div class="card-img-overlay">
    <h1 class="card-title" style="color:grey;">Losar</h1>
    </div>
    </div>
    <div class="flip-card-back">
      <h1>Losar</h1>
          <p >Losar is a new year's festival, celebrated on the first day of the lunisolar Tibetan calendar by Buddhists.</p>
           <a class="btn btn-outline-primary" href="#">Explore More</a>

    </div>
  </div>
</div>  
</div>
</div>
<br />
<div class="container" style="width:950px">
<div class="ppp">

    <div class="space">
    <div class="header">
        <h2> Discover<span> Nepal</span> </h2>
</div>
    </div>
<div class="card-deck">
  <div class="card text-white bg-info mb-3" >
    <img src="{% static 'images/lumbini3.jpg'%}"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lumbini.</h5>
      <p class="card-text">Lumbini mainly is famous because it is a birthplace of Gautam Buddha.</p>
    <a href="/discover/4/" class="btn btn-light">View Details...</a>    
    </div>
  </div>
 <div class="card text-white bg-info mb-3" style="width: 18rem;">
    <img src="{% static 'images/solu2.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Solukhumbhu</h5>
      <p class="card-text"> Solukhumbu is know for its many beautiful huge Himalayas. Mount Everest, the highest peak of world is located here.</p>
        <a href="/discover/5/" class="btn btn-light">View Details...</a>
    </div>
  </div>
    <div class="card text-white bg-info mb-3" style="width: 18rem;">
    <img src="{% static 'images/h.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body" style="height:250px">
      <h5 class="card-title">Mustang</h5>
      <p class="card-text">In the eighth century, during the Yarlung Dynasty, Buddhism reached Tibet. From Tibet, its cultures and religions are spread further to Mustang.</p>
        <div class="detail">
        <a href="/discover/7/" class="btn btn-light">View Details...</a>
            </div>
    </div>
  </div>

    </div>  
    </div>
           
    </div>
    
{% endblock content %}

    

