{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<article class="main">
<div class="loginMain">
<div class="container">
<div class="loginForm">
<div>
<!--
<h2 style="padding:20px 20px 20px 20px;" class="display-7">
<span>Welcome</span>
</h2>
-->
<h1 style="margin:0 auto;" class="display-5">
<span>Sign In</span>
</h1>
</div>
<br>
<hr>
<br>

<form action="proces.php" method="post">
	{% csrf_token %}
<div class="form-group">
<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username or Email" required>

</div>

<div class="form-group">
    
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
<small id="emailHelp" class="form-text text-muted"><a class="pas" href="#">Forgotten password?</a></small>
</div>

<div class="form-check mb-2">
<input class="formss" type="checkbox" id="autoSizingCheck">
<label class="keepme" for="autoSizingCheck">
<strong>Keep me logged in</strong>
</label>
</div>
<br>

<div class="down">
<button style="margin-left:0px;" type="submit" class="btn btn-info btn-lg">Sign In</button>
<br>
    <p class="lead"><strong>Don't have an account?</strong></p> 
    <a class="lead" href="register.html">Register</a>
    </div>
</form>

</div>
</div>
</div>



</article>
{% endblock content %}