{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<form method="get" name="searchform" >
Search:
<select name="Destination_from">
	<option value='' selected=""></option>
	<option value="CHITWAN">CHITWAN</option>
	<option value="KATHMANDU">KATHMANDU</option>
	<option value="POKHARA">POKHARA</option>
	<option value="JHAPA">JHAPA</option>
</select>
<select name="Destination_to" >
	<option value='' selected=""></option>
	<option value="CHITWAN">CHITWAN</option>
	<option value="KATHMANDU">KATHMANDU</option>
	<option value="POKHARA">POKHARA</option>
	<option value="JHAPA">JHAPA</option>
</select>
NO:
<input type="date" name="departure_time">
<input value='Submit' type="submit">
</form>
 <ul>

  {% for bus in buses %}
    <li><a href="{% url 'paryatak:bus_detail' bus.id %}">{{ bus.bus.bus_no }}</a></li>
  {% endfor %}
  </ul>
{% endblock content %}