{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<h1>{{user.username}} Tickets</h1>
{% for ticket in tickets %}
	<li><a href="{% url 'paryatak:samrat2' ticket.id %}" id = "sagar">{{ ticket.seat }}</a></li>
{% endfor %}


<script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous">
			  	
</script>
<script type="text/javascript">
	

		 $('#sagar').click(function(){
			alert('Success! Your seat has been cancled. Please check your email for more information');
				 		 
		});

	
</script>

{% endblock content %}