{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}


<div style="display: flex">
	<div style="height: 200;width: 200;background-color: red">hello</div>
	<div style="height: 200;width: 200;background-color: green">hello</div>
</div>


{% endblock content %}