

{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<div class="content">
	
<div class="ppp">
    <br />
    <div class="space">
    <div class="header">
        <h2> Discover<span> Nepal</span> </h2>
</div>
    </div>
    <br />

  <div class="container">

        <img src="{{discover.image.url}}"class="mr-3 img-fluid" style="height: 550px; width: 850px;">
        <div class="media-body">
          <br />
      <h3 class="mt-0 mb-1 text-center" style="font-color=blue;">{{discover.title}}</h3>

      <p> Last updated on: {{discover.pub_date_stan}} </p>
      <p>{{discover.body}}</p>

        <img src="{{discover.image1.url}}"class="mr-3 img-fluid" style="height: 550px; width: 850px;">
          <br />

       <p>{{discover.history}}</p>
    
         <img src="{{discover.image2.url}}"class="mr-3 img-fluid" style="height: 550px; width: 850px;">
          <br />
       <p>{{discover.see}}</p>

      </div>
      <br />
     <div class="space">
    <div class="header">
        <h2> <span> Our Packages</span> </h2>
      </div>
    </div>
  </div>
</div>
</div>
  
   <div class="container" style="margin-left:0;">  

  <div class="card bg-light mb-3" style="height: 315px;">
    <ul class="list-unstyled" >
      <li class="media">
        <img src="{{discover.image.url}}"class="mr-3 img-fluid" style="height: 300px; width: 300px;">
        <div class="media-body">
      <h3 class="mt-0 mb-1 text-center">{{discover.title}}</h3>
      <ul class="list-group list-group-flush">
   <a href=""> <li class="list-group-item"> 5 days package</li> </a>
   
  </ul>
  <ul class="list-group list-group-flush">
   <a href=""> <li class="list-group-item"> 3 days package</li> </a>
   
  </ul>

    </div>
  
  </li>
</ul>
  </div>

   <div class="card bg-light mb-3" style="height: 315px;">
    <ul class="list-unstyled" >
      <li class="media">
        <img src="{{discover.image.url}}"class="mr-3 img-fluid" style="height: 300px; width: 300px;">
        <div class="media-body">
      <h3 class="mt-0 mb-1 text-center">Annapurna Himalayans</h3>
      <ul class="list-group list-group-flush">
   <a href=""> <li class="list-group-item"> 5 days package</li> </a>
   
  </ul>
  <ul class="list-group list-group-flush">
   <a href=""> <li class="list-group-item"> 3 days package</li> </a>
   
  </ul>

    </div>
  
  </li>
</ul>
  </div>

</div>
  </main>



{% endblock content %}

    

