

{% extends "paryatak/base.html"%}
{% load static %}
{% block content %}
<div class="content">
	
<div class="ppp">
    <br />
    <div class="space">
    <div class="header">
        <h2> Discover<span> Nepal</span> </h2>
</div>
    </div>
    <br />

  <div class="container">
       {% for discover in discover.all %}
  <div class="card bg-light mb-3" style="height: 315px;">
    <ul class="list-unstyled" >
      <li class="media">
        <img src="{{discover.image.url}}"class="mr-3 img-fluid" style="height: 300px; width: 300px;">
        <div class="media-body">
      <h3 class="mt-0 mb-1 text-center">{{discover.title}}</h3>

      <p> Last updated on: {{discover.pub_date_stan}} </p>
      <p>{{discover.summary}}</p>
    <a href="{% url 'detail' discover.id %}" class="btn btn-secondary">See More...</a>    
    </div>
  </li>
</ul>
  </div>
  {% endfor %}
    </div>
  </main>
</div>
</div>

{% endblock content %}

    

