
html{
    width: 1355px;
}
body {
background:white;
width: 1355px;
height: 1500px;
}
h3
{
    color: black;
}
.link-title{
text-align: center;    
text-decoration: none;
font-size: 42px;
margin: 0 auto;    
}
.page-heading{
text-align: center;
margin-bottom: 20px;
    
}
.container{
background:white;
    background-size: cover;

}
/*
.header {
padding: 45px 0 20px 40px;
margin: 0 auto;
font-size: 50px;
    background: black;
}
*/
.nav-tabs{
background: #030708;
padding: 6px 0 6px 40px;
}
.nav-tabs a{
color:#5f9a9a;
text-decoration: none;
font-size: 14px;
font-family: "cursive","Myriad Pro";
}
.nav-tabs a:hover{
color: beige; 
}

.aside {
width:400px;
float: left;
padding: 30px 0 0 40px;
/*
display: inline-block;
font: normal normal normal 14px/1 fontAwesome;
font-size: inherit;
text-rendering: auto;
*/
    background: url(images/theme45jpg.jpg) no-repeat center center fixed;
    background-size:cover;
 }

.aside_heading1{
    background: orange;
    font-size: 25px;
width: 250px;
float: left;
padding: 10px 0 0 40px;
margin-bottom: 10px;
}
.aside_heading3{
    background: orange;
    font-size: 25px;
width: 250px;
float: left;
padding: 10px 0 0 40px;
margin-bottom: 10px;
}

.content {
    position: relative;
    width: 810px;
    margin-left:20px;
    margin-top: 0;
    margin-bottom: 40px;
}
side-content {
    margin-bottom: 30px;
}
.ppp{
    font-weight: 500;
    margin-top: 15px;
/*
    background: url(../images/l.jpg) no-repeat center center fixed;
    background-size:cover;
    background-position: center;
*/
box-sizing: border-box;
    display: block;
    width: 925px;
    
}
header {
    background:#143c5f;
    padding: 10px;
}
.row1 {
/*    display: -ms-flexbox;*/
    display: flex;
/*    -ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background: #143c5f;
}
.top-menu ul li a {
    text-transform: uppercase;
    font: normal 14px 'Verdana';
color: black;
}
a {
    color: black;
    text-decoration: none;
}
.top-menu ul {
    list-style: none;
    padding-left: 0;
}
.header-right {
    text-align: right;
}
.company-info ul li {
    display: inline-block;
    margin-right: 60px;
}

ul li {
    list-style: none;
    margin: 0;
}
.company-info .infos-right {
    font-size: 13px;
    float: right;
    text-align: left;
}
.company-info p {
    font-weight: bold;
    margin: 0 0 4px;
    line-height: 6px;
}
.top-menu ul li {
    display: inline-block;
    margin-right: 20px;
}
ul li {
    list-style: none;
    margin: 0;
}

.text ul li a {
    background: #eee;
    padding: 10px 15px;
    display: block;
    color: #333;
    transition: all 0.5s ease;
    border-left: 3px solid transparent;
    width: 250px;
}
.text ul li a:hover{
    background: white;
    border-color: dodgerblue;
}
.text ul {
    padding-left: 0;
}
text ul li {
    margin-bottom: 3px;
}

ul li {
    margin: 0;
}
.main{
margin: 0 0 0 180px;
padding: 35px 40px 30px 35px;
font-family: "Georgia";
font-size: 13px;
line-height: 18px;
    left: 1000px;
text-emphasis: justify;
}
#home-image vid {
    width:925px;
    height: 400px;
    
    margin: 0 auto;
}
#fot{
padding: 6px 40px 6px 40px;
/*    position:absolute;*/
background:#b3d7ff;
font-family: "Lucida Sans Unicode";
color: #444444;
font-size: 20px;
text-decoration:right;
    margin-top: 10px;
}
.btn-outline-secondary {
  color: #eef1f5;
  border-color: #ad8787;
margin: auto;
}
.lead{
    padding-top: 15px;
}


.mainFooter{
  clear: both;
    width: 100%;
    min-height: 300px;
position: relative;
    margin-top:0px;
     background: url(images/theme5.jpg) no-repeat center center fixed;
    background-size:cover;
    font-weight: 600;
    
}

.randomWidget{
  float:left;
  width: 20%;
  padding:0px 100px 2px 2px;
  margin-top:50px;

}

.widget{
  width:20%;
  padding: 2.5%;
   float: left;
   text-align: justify;

}


.footerHeading{
  font-size: 21px;
        color: black;
text-align: right;
    margin: auto;
}

.widget p a
{
    color:#6c757d;
    text-decoration: none;
}

.widget p a:hover{
    text-decoration: underline;
    color: black
}
.final{
  background: url(../img/footerbackground.jpg) no-repeat center center fixed; background-size: cover;
  position:relative;
  height: fit-content;

}

/*About Page Styles*/
#about-page #home-image img{
width: 70%;
float:left;
margin-bottom: 20px;
        
}
#about-page #profile-info{
float: right;
width: 20%;
margin: 5px;
}
#about-page #description{
clear: both;
margin-top: 20px;
    
}
/*Contact page styles*/
#contact #form{
    width: 500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 0px 9px 13px 5px;
    border-radius: 5px;
    background: grey;
}
#contact #form input{
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: #D6D6D6;
}
#contact #form #message{
      width: 100%;
    border-radius: 5px;
    background: #D6D6D6;
} 
#contact #form #submit{
    height: 30px;
    background: rgb(59,118,135);
}
/*Login page*/

#login #form{
    width: 500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 0px 9px 13px 5px;
    border-radius: 5px;
}